header, footer {
    background-color: #343a40;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

i.fa {
    font-family:fontawesome !important;
}

.input-checkbox {
    display: inline-block;
    float: left;
    margin: 2px 4px 4px 0;
}