<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WT_LR1.styles.css" asp-append-version="true" />
</head>
   
<body>
    <header>
        <div class="container">
            <!-- Панель навигации -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <!-- меню сайта -->
                <a class="navbar-brand" href="#">18107085</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Лаба 2</a>
                    <a class="nav-item nav-link" asp-area="" asp-controller="Product" asp-action="Index">Каталог</a>
                    <a class="nav-item nav-link" asp-area="Admin" asp-controller="" asp-action="/Index">Администрирование</a>
                </div>
                <!-- меню сайта - конец -->
                <!-- Информация пользователя -->
                <a class="navbar-text ml-auto">
                    00,0 руб <i class="fa fa-shopping-cart"></i>
                </a>
                <div class="dropdown ml-4 nav-color">
                    <div class="dropdown-toggle" id="dropdownMenuButton"
                         data-bs-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        <img src="images/avatar.jpg" width="30"
                             alt="User" class="rounded" />
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item-text">
                            <img src="~/images/avatar.jpg" width="50" alt="User"
                                 class="rounded" />
                            user@gmail.com

                        </div>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" asp-controller="Cart" asp-
                           action="Index">Мои товары</a>

                        <a class="dropdown-item" asp-area="Identity"
                           asp-page="/Account/Logout">Log out</a>

                    </div>
                </div>
                <!-- Информация пользователя - конец -->
            </nav> <!-- Панель навигации - конец -->
        </div>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="fixed-bottom">
        <div class="navbar navbar-dark navbar-expand-md bg-dark">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://www.facebook.com/">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="nav-item nav-link" href="https://www.instagram.com/">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="nav-item nav-link" href="https://twitter.com/">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
